<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Create a new song </h1>
  <form action="/songs" method="POST">

  <label for="song[name]">Name</label><br>
  <input type="text" id="song[name]" name="songs[name]"><br><br>

  <label for="artist[name]">Artist Name</label><br>
  <input type="text" id="artist[name]" name="artists[name]"><br><br>

  Genre Name:<br>
    <% Genre.all.each do |genre| %>
      <%= "#{genre.name}:" %>
      <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%=genre.id%>"><br>
    <% end %><br><br>

  <input type="submit" id="Create" name="submit">
</form><br><br>

  <a href="/">HOME</a>
